<app-search (messageEvent)="receiveMessage($event)"></app-search>
<div class="container bg">
	<section class="section-content padding-y bg">
		<div class="container">
			<div class="row">
				<aside class="col-lg-9">
					<div class="card">
						<table class="table table-responsive table-borderless table-shopping-cart">
							<thead class="text-muted">
								<tr class="small text-uppercase">
									<th scope="col">Producto</th>
									<th scope="col" width="120">Cantidad</th>
									<th scope="col" width="120">Precio</th>
									<th scope="col" class="text-right" width="50"> </th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let prod of cart ; let i = index;">
									<td>
										<figure class="itemside align-items-center">
											<div class="aside"><img src="http://localhost:5000/imagen/{{prod.imagen}}" class="img-sm"></div>
											<figcaption class="info">
												<a href="#" class="title text-dark">{{prod.nombre}}</a>
												<p class="text-muted small d-none d-md-flex mr-auto">{{prod.descripcion}} </p>
											</figcaption>
										</figure>
									</td>
									<td>
										<input type="number" style="size: 5px;" class="form-control" (change)="change(i)" min="1" [(ngModel)]="prod.cantidad">
									</td>
									<td>
										<div class="price-wrap">
											<var class="price">${{prod.sub_total}}</var>
											<small class="text-muted"> ${{prod.precio}} c/u </small>
										</div> 
									</td>
									<td class="text-right">
										<a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light"
											data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
										<button class="btn btn-light"(click)="retira(i)" > <i class="fa fa-trash"></i></button>
									</td>
								</tr>
							</tbody>
						</table>
	
						<div class="card-body border-top">
							<p class="icontext"><i class="icon text-success fa fa-truck"></i> Delivery 30 - 45 min</p>
						</div> 
	
					</div> 
	
				</aside> 
				<aside class="col-lg-3">
	
					<div class="card mb-3">
						<div class="card-body">
							
							<div class="form-group">
								<label>¿Tienes Cupón?</label>
								<div class="input-group">
									<input type="text" class="form-control" name="" placeholder="Coupon code">
									<span class="input-group-append">
										<button class="btn btn-primary">Aplicar</button>
									</span>
								</div>
							</div>
						
						</div> 
					</div> 
	
					<div class="card">
						<div class="card-body">
							<dl class="dlist-align">
								<dt>Sub Total</dt>
								<dd class="text-right">$ {{bruto | number:'1.0-0'}}</dd>
							</dl>
							<dl class="dlist-align">
								<dt>Iva:</dt>
								<dd class="text-right text-danger"> $ {{iva | number:'1.0-0'}}</dd>
							</dl>
							<dl class="dlist-align">
								<dt>Total:</dt>
								<dd class="text-right text-dark b"><strong>$ {{total | number:'1.0-0'}}</strong></dd>
							</dl>
							<hr>
							<p class="text-center mb-3">
								<img src="../../assets/img/payments.png" height="26">
							</p>
							<a class="btn btn-primary btn-block"(click)="finalizar()"> Finalizar </a>
							<a href="/producto" class="btn btn-light btn-block">Continuar Comprando</a>
						</div> 
					</div> 
	
				</aside> 
	
	
			</div>
		</div>
	</section>
</div>

