<app-search (messageEvent)="receiveMessage($event)"></app-search>
<div class="container bg">
	<section class="section-content padding-y bg">
		<div class="container">
			<div class="row">
				<aside id="datos" class="col-md-7" *ngIf="!newDir">
					<div class="card">
						<div class="card-body">
							<div class="form-row">
								<div class="form-group col-md-12">
									<label>Entrega</label>
									<select id="inputState1" class="form-control" [(ngModel)]="tipo_entrega"
										(change)="setTipoEntrega()">
										<option *ngFor="let entrega of entregas" value="{{entrega.id}}"> {{entrega.nombre}}
										</option>
									</select>
								</div>
								<!-- <div class="itemside col-sm-12 border-bottom" *ngIf="delivery">
									<p><a class="btn btn-default btn-block" (click)="newDire()"><label>+ Nueva Dirección</label></a></p>
								</div><br> -->
								<div class="form-group col-md-6">
                                    <label>Nombre</label>                                   
                                        <input type="text" [(ngModel)]="registro.nombre" class="form-control" placeholder="Nombre">
                                </div>
								<div class="form-group col-md-6">
                                    <label>Apellido</label>
                                        <input type="text"  [(ngModel)]="registro.apellido" class="form-control" placeholder="Apellido">                                   
                                </div>
								<div class="form-group col-md-12">
                                    <label>Teléfono</label>
									<div class="input-group">
										<select class="custom-select" style="max-width: 120px;">
											<option selected="">+56</option>
										   
										</select>
										<input maxlength="9" name="" [(ngModel)]="registro.fono" class="form-control" placeholder="Numero" type="text">
									</div>
                                </div>
								<div class="form-group col-md-12">
                                    <label>Email</label>
									<input type="email"  [(ngModel)]="registro.email" class="form-control" placeholder="Ex. john@gmail.com">
                                </div>
								<div class="form-group col-md-12" *ngIf="delivery">
									<label>Dirección</label>
									<input class="form-control" [(ngModel)]="registro.direccion" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
								</div>
								<div class="form-group col-md-12" *ngIf="delivery">
									<label>Edificación</label>
									<select class="custom-select form-control" [(ngModel)]="registro.tipo" >
										<option value="1">Seleccione...</option>
										<option *ngFor="let tipo of tipos" value="{{tipo.id}}">{{tipo.nombre}}</option>
									</select>
								</div>
								<div class="form-group col-md-12" *ngIf="delivery">
									<label>Departamento</label>
									<input type="text"  [(ngModel)]="registro.departamento" class="form-control" placeholder="Departamento, Local">
								</div>

								<div class="itemside col-md-12  border-bottom">
									<a class="btn btn-primary btn-block" (click)="confirmarDatos()"> Confirmar datos </a>
								</div>

								<div class="itemside col-md-12  border-bottom" *ngIf="delivery">
									<div class="info ">
										<div *ngFor="let direccion of direcciones" class="border-bottom">
											<label for="enum_answer_{{direccion.id}}" class="font-weight-bold text-dark">
												<input id="enum_answer_{{direccion.id}}" [value]='direccion.id' type="radio" name="enums" [(ngModel)]="dirselect" (change)="calucarDelivery()">
												 
												<small>{{direccion.direccion_escrita}} - {{direccion.tipo_direccion}} - {{direccion.departamento}}</small><br>
												<small>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Editar</a></small>
											</label>
										</div>
									</div>
								</div>
	
							</div>
						</div>
					</div>
	
	
				</aside>
				<!--NUEVA DIRECCION-->
				<aside class="col-md-7" *ngIf="newDir">
					<div class="card">
						<div class="card-body">
							<div class="form-row">
								<div class="form-group col-md-12">
									<label>Dirección</label>
									<input class="form-control" [(ngModel)]="registro.direccion" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
								</div>
								<div class="form-group col-md-12">
									<label>Edificación</label>
									<select class="custom-select form-control" [(ngModel)]="registro.tipo" >
										<option value="1">Seleccione...</option>
										<option *ngFor="let tipo of tipos" value="{{tipo.id}}">{{tipo.nombre}}</option>
									</select>
								</div>
								<!-- <div class="form-group col-md-12">
									<label>Comuna</label>
									<select class="custom-select form-control" [(ngModel)]="registro.comuna">
										<option value="1">Seleccione...</option>
										<option *ngFor="let comuna of comunas" value="{{comuna.id}}">{{comuna.nombre}}</option>
									</select>
								</div> -->

								<!-- <div class="form-group col-md-12">
									<label>Número</label>
									<input type="text" [(ngModel)]="registro.numerod" class="form-control" placeholder="Numero">
								</div> -->
								<div class="form-group col-md-12">
									<label>Departamento</label>
									<input type="text"  [(ngModel)]="registro.departamento" class="form-control" placeholder="Departamento, Local">
								</div>
	
								<div class="itemside col-md-12  border-bottom">
									<a class="btn btn-primary btn-block" (click)="guardarDir()"> Finalizar </a>
								</div>
	
								<div class="itemside col-md-12  border-bottom">
									<a class="btn btn-danger btn-block" (click)="newDir = false"> Volver </a>
								</div>
							</div>
						</div>
					</div>
	
	
				</aside>
				<aside class="col-md-5" >
					<div class="card mb-3">
						<article class="card-body">
							<header class="mb-4">
								<h4 class="card-title">Tu carrito</h4>
							</header>
							<div class="row">
								<div class="col-md-6" *ngFor="let carro of carros">
									<figure class="itemside  mb-3">
										<div class="aside"><img src="{{urlImage}}{{carro.imagen}}"
												class="border img-xs"></div>
										<figcaption class="info">
											<p>{{carro.nombre}} </p>
											<span>{{carro.cantidad}} x ${{carro.precio}} = Total: ${{carro.sub_total}}
											</span>
										</figcaption>
									</figure>
								</div>
	
							</div>
						</article>
						<article class="card-body border-top">
	
							<dl class="row">
								<dt class="col-sm-8">Subtotal: <span class="float-right text-muted">{{items}} items</span>
								</dt>
								<dd class="col-sm-4 text-right"><strong>${{Stotal | number:'1.0-0'}}</strong></dd>
	
								<dt class="col-sm-8">Descuento: <span class="float-right text-muted">0%</span>
								</dt>
								<dd class="col-sm-4 text-danger text-right"><strong>$0</strong></dd>
	
								<dt class="col-sm-8" *ngIf="delivery">Delivery: <span
										class="float-right text-muted">{{kilometros}}</span></dt>
								<dd class="col-sm-4 text-right" *ngIf="delivery"><strong>${{mDelivery}}</strong></dd>
	
								<dt class="col-sm-8">iva: <span class="float-right text-muted">19%</span></dt>
								<dd class="col-sm-4 text-right text-success"><strong>${{iva | number:'1.0-0'}} </strong></dd>
	
								<dt class="col-sm-8">Total:</dt>
								<dd class="col-sm-4 text-right"><strong class="h5 text-dark">${{tmonto | number:'1.0-0'}}</strong></dd>
							</dl>
							<div class="form-group col-md-12"  *ngIf="fin">
								<label>Forma de Pago</label>
								<select id="inputState" class="form-control" [(ngModel)]="tipo_pago"
									(change)="setTipoPago()">
									<option *ngFor="let pago of pagos" value="{{pago.id}}"> {{pago.nombre}}</option>
								</select>
							</div>
							<div class="itemside col-md-12  border-bottom" *ngIf="transfer">
								<div class="info ">
									<div *ngFor="let cuenta of cuentas" class="border-bottom">
										<p><strong>Titular: </strong>{{cuenta.nombre}}</p>
										<p><strong>Identidad: </strong>{{cuenta.identificacion}}</p>
										<p><strong>Tipo cuenta: </strong>{{cuenta.tipo_cuenta}}</p>
										<p><strong>N° cuenta: </strong>{{cuenta.numero}}</p>
										<p><strong>Email: </strong>{{cuenta.correo}}</p>
									</div>
								</div>
							</div>
							<div class="form-group col-md-12" *ngIf="efective" >
								<label>¿Con cuanto Pagas?</label>
								<input type="text"  [(ngModel)]="vuelto" class="form-control" placeholder="20000">
							</div>
							<div class="itemside col-md-12  border-bottom">
								<a class="btn btn-primary btn-block" (click)="finalizar()"  *ngIf="fin"> Finalizar </a>
							</div>
						</article>
					</div>
	
	
				</aside>

			</div>
		</div>
	</section> 
</div>
