<header class="section-header">
    <app-topmenu></app-topmenu>
</header>


    <router-outlet></router-outlet>



<footer class="section-footer border-top bg">
    <div class="container">
        <section class="footer-bottom row">
            <div class="col-md-3">
                <p class="text-muted"> &copy 2020 R&P Systems SpA</p>
            </div>
            <div class="col-md-7 text-md-center">
                <span class="px-2">info@rypsystems.cl</span>
                <span class="px-2">+56 9 4998 0822</span>
                <span class="px-2">San Miguel, Región Metropolitana</span>
            </div>
            <div class="col-md-2 text-md-right text-muted">
                <i class="fa fa-lg fa-cc-visa"></i>
                <i class="fa fa-lg fa-cc-paypal"></i>
                <i class="fa fa-lg fa-cc-mastercard"></i>
            </div>
        </section>
    </div>
</footer>