<!-- <div *ngFor="let date of data | keyvalue">
  <div class="card">
    <div class="card-header" id="heading{{date.key}}">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{date.key}}" aria-expanded="true" aria-controls="collapse{{date.key}}">
          {{date.key}} - Total: {{getTotalAmount(date.value)}}
        </button>
      </h5>
    </div>

    <div id="collapse{{date.key}}" class="collapse" aria-labelledby="heading{{date.key}}" data-parent="#accordion">
      <div class="card-body">
        <ul>
          <li *ngFor="let item of date.value">
            Fecha: {{item.fecha}}, Monto Bruto: {{item.monto_bruto}}, Concepto: {{item.concepto}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
