<app-search (messageEvent)="receiveMessage($event)"></app-search>
<div class="container bg">
	<section class="section-content padding-y bg">
		<div class="container">
			<div class="row">
				<aside class="col-md-12">
					<div class="card">
						<div class="card-body">
							<h3>Menú</h3>
							<div class="form-row">
								<div class="col-md-3" *ngFor="let menu of productos">
									<figure class="card card-product-grid">
										<a  class="img-wrap"> 
											<img (click)="agregarProducto(menu)" src="{{urlImage}}{{menu.imagen}}">
										</a>
										<figcaption class="info-wrap">
											<a  class="title" (click)="agregarProducto(menu)">{{menu.nombre}}</a>
											<div class="mt-2">
												<var class="price">$ {{menu.precio | number:'1.0-0'}}</var> <!-- price-wrap.// -->
												<!-- <a (click)="agregar(menu)" class="btn btn-sm btn-outline-primary float-right">Add <i class="fa fa-shopping-cart"></i></a> -->
												
												<a (click)="agregarProducto(menu)" class="btn btn-sm btn-outline-primary float-right">Add <i class="fa fa-shopping-cart"></i></a>
											</div> <!-- action-wrap.end -->
										</figcaption>
									</figure> <!-- card // -->
								</div>


							</div>
							<!-- <h3>Bebidas</h3>
							<div class="form-row">
								<div class="col-md-3" *ngFor="let bebida of bebidas">
									<figure class="card card-product-grid">
										<figcaption class="info-wrap">
											<a class="title" (click)="agregar(bebida)">{{bebida.nombre}}</a>
											<div class="mt-2">
												<var class="price">$ {{bebida.precio | number:'1.0-0'}}</var> 
												<a (click)="agregar(bebida)" class="btn btn-sm btn-outline-primary float-right">Add <i class="fa fa-shopping-cart"></i></a>
											</div> 
										</figcaption>
									</figure>
								</div>
								

							</div> -->
						</div>
					</div>


				</aside>

			</div>
		</div>
	</section>
</div>